<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package Details - Mantra Travel with DILA</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>

    <style>
        #chat-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 100;
        }
        #chat-button img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
    </style>
    <header class="header" style="background-color: #3b4046;">
        <div class="container-fluid" >
            <div class="row">
                
                <div class="col--md-4 col-sm-3 col-xs-4">
                    <div id="logo_home">
                        <h1><a href="{{ url_for('home') }}" title="TravelGuide template">TravelGuide</a></h1>
                        
                    </div>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-8 text-right">
                    <a href="{{ url_for('hotels') }}" class="btn btn-primary mx-2"  id="hotels" style="background-color: #0EACA1; margin-top: 25px; margin-right: 10px;">Hotels</a>
                    <a href="{{ url_for('all_packages') }}" class="btn btn-success" style="background-color: #f26522; margin-top: 25px;" >Packages</a>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </header>
    <div id="chat-button">
        <a href="https://wa.me/94740840238" target="_blank">
          <img src="../static/img/icon.png" alt="Chat with us" />
        </a>
    
    </div>

    <div class="pattern_dots">
        <div class="container margin_60_45"style="background-color: #2b3947;width: 100%;;" >
            <div class="main_title" >
                <br><br><br>    
                <h2><strong>All packages</strong></h2>
                <h3 style="color: white;"></h3>
                    Plan You Dream Vacation in Sri Lanka </p>
                <span><em></em></span>  
            </div>
            <!-- End main_title -->

            <div class="row">
                <div class="col-md-8">
                    <div class="img_wrapper_grid">
                        
                        
                        <!-- End tools i-->
                        <div class="img_container_grid" id="image1">
                            <a href="{{ url_for('family_package') }}">
                                <img src="../static/img/photo/family/2.jpeg" width="800" height="480" class="img-responsive" alt="">
                                <div class="short_info_grid">
                                    <small><strong></strong></small>
                                    <h3>FAMILY</h3>
                                    <em>A family that travels together stays together</em>
                                    <p>
                                        BOOK NOW
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End img_wrapper_grid -->
                </div>
                <div class="col-md-4">
                    <div class="img_wrapper_grid">
                        
                        <!-- End tools i-->
                        <div class="img_container_grid">
                            <a href="{{ url_for('trekking_and_hiking_package') }}">
                                <img src="../static/img/photo/hiking/5.jpeg" width="800" height="468" class="img-responsive" alt="">
                                <div class="short_info_grid">
                                    <small><strong></strong></small>
                                    <h3>TREKKING AND HIKING</h3>
                                    <em>Life is daring adventure or nothing</em>
                                    <p>
                                        BOOK NOW
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End img_wrapper_grid -->
                    <div class="img_wrapper_grid">
                        
                        
                        <!-- End tools i-->
                        <div class="img_container_grid">
                            <a href="{{ url_for('Honeymoon_package') }}">
                                <img src="../static/img/photo/love/3.jpeg" width="800" height="468" class="img-responsive" alt="">
                                <div class="short_info_grid">
                                    <small><strong></strong></small>
                                    <h3>HONEYMOON</h3>
                                    <em>Lets travel together and get lost in this beautiful island</em>
                                    <p>
                                        BOOK NOW
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End img_wrapper_grid -->
                </div>
            </div>
            <!-- End row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="img_wrapper_grid">
                        
                        
                        <!-- End tools i-->
                        <div class="img_container_grid">
                            <a href="{{ url_for('wildlife_package') }}">
                                <img src="../static/img/photo/wild/11.jpeg" width="800" height="468" class="img-responsive" alt="">
                                <div class="short_info_grid">
                                    <small><strong></strong></small>
                                    <h3>WILD LIFE</h3>
                                    <em>The only man i envy is the man who has not yet been to the wild</em>
                                    <p>
                                        BOOK NOW
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End img_wrapper_grid -->
                </div>
                <div class="col-md-4">
                    <div class="img_wrapper_grid">
                        
                        
                        <!-- End tools i-->
                        <div class="img_container_grid">
                            <a href="{{ url_for('culture_package') }}">
                                <img src="../static/img/photo/culture/7.jpeg" width="800" height="468" class="img-responsive" alt="">
                                <div class="short_info_grid">
                                    <small><strong></strong></small>
                                    <h3>CULTURE</h3>
                                    <em>You have to taste a culture to understand it</em>
                                    <p>
                                        BOOK NOW
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End img_wrapper_grid -->
                </div>
                <div class="col-md-4">
                    <div class="img_wrapper_grid">
                        
                        
                        <!-- End tools i-->
                        <div class="img_container_grid">
                            <a href="{{ url_for('beach_package') }}">
                                <img src="../static/img/photo/beach/1.jpeg" width="800" height="468" class="img-responsive" alt="">
                                <div class="short_info_grid">
                                    <h3>BEACH</h3>
                                    <em>Sky above, sand below, Peace within</em>
                                    <p>
                                        BOOK NOW
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End img_wrapper_grid -->
                </div>
            </div>
            <!-- End row -->
        </div>
    </div>
    

        
    </div>
</div>
<footer class="footer1" style="background-color: #3b4046;" >
    <div class="container" >
        <div class="row">
            <div class="col-md-4 col-sm-12" >
                <h2 style="color: #f26522;">About Us</h2>
                <p style="color: #fff;">The most important info on your mobile during a visit
                <p style="color: #fff;">Phone: +94 74 084 0238</p>

            </div>
            
            
        </div>
        <!-- End row -->
        <hr>
        <div class="row">
            <div class="col-sm-6" style="color: #fff;" >
                © {{ settings.site_name }} 2025 - All Rights Reserved
            </div>
            <div class="col-sm-6">
                <div id="social_footer">
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a>
                        </li>
                        <li><a href="#0"><i class="icon-google"></i></a>
                        </li>
                        <li><a href="#0"><i class="icon-instagram"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>

    <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>